
<div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/item">Items</a>
    <a href="/shops">Shops</a>
    <a href="/inventory">Inventory</a>
    <a href="/admin">Admin</a>
    {{#isSignedIn}}
        <a href="/profile" style="float: right">{{username}}</a>
    {{/isSignedIn}}
    {{^isSignedIn}}
        <a href="/signIn" style="float: right">Sign In</a>
    {{/isSignedIn}}
</div>
    