<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <img src="/images/logo.png" alt="Logo" class="logo">
            <div class="logo-text">Glasgow Hospice Charity</div>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about" class="active">About Us</a>
            <a href="/inStore"">What's in store</a>
            <a href="/shops">Where you'll find us</a>
            {{#isVolunteer}}
            <a href="/inventory">Inventory</a>
            {{/isVolunteer}}
        </div>
        <div class="auth-links">
            {{#isSignedIn}}
                <a href="/profile">{{username}}</a>
                <a href="/logout">Logout</a>
                {{#isManager}}
                    <a href="/admin">Admin</a>
                {{/isManager}}
            {{/isSignedIn}}
            {{^isSignedIn}}
                <a href="/signIn">Sign In</a>
            {{/isSignedIn}}
        </div>
    </div>
    <div class="page-info">
        <h1>About Us</h1>
        <div class="page-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus ut enim consectetur porta non tempor quam. In quam augue, fermentum auctor metus eget, semper interdum sem. Sed dictum non lectus at accumsan. Duis ac ultrices tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel dolor sagittis, vehicula libero id, facilisis neque. Nulla nec lorem magna. Etiam luctus arcu eget justo interdum, vel vulputate quam rutrum. Praesent sed velit venenatis, ornare erat id, sodales justo. Integer a lorem risus. Integer consectetur felis odio, quis euismod lacus ultricies et. Nulla velit nulla, malesuada ut interdum eu, blandit sit amet ante. Curabitur eget odio vitae lorem bibendum posuere congue id diam.

Quisque porttitor malesuada enim ac venenatis. Quisque eu quam a elit lacinia gravida sed eget elit. Maecenas suscipit pulvinar neque. Sed et aliquam sem, eget convallis arcu. Nullam semper ligula at consectetur mattis. Aenean sagittis lobortis tellus, non vehicula dolor aliquam aliquam. Etiam semper ut dui ac iaculis. Integer quis ultrices ex. Donec pharetra justo enim, at aliquam diam cursus vitae. Phasellus scelerisque ultricies lectus, vel ultricies arcu tempus ut. Praesent sed blandit ipsum. Sed dignissim diam et orci tincidunt, at molestie quam congue. Aliquam non leo posuere, gravida erat in, fringilla lorem. Praesent tincidunt velit sapien, et facilisis ex faucibus eu. Nam in mauris sed eros malesuada aliquet sit amet at erat. </p>
    </div>
    </div>
    <hr>
</body>
</html>