<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/inStore">What's in store</a>
        <a href="/shops">Where you'll find us</a>
        {{#isVolunteer}}
        <a href="/inventory">Inventory</a>
        {{/isVolunteer}}
        {{#isSignedIn}}
            <a href="/profile" style="float: right">{{username}}</a>
            <a href="/logout" style="float: right">Logout</a>
            {{#isManager}}
                <a href="/admin">Admin</a>
            {{/isManager}}
        {{/isSignedIn}}
        {{^isSignedIn}}
            <a href="/signIn" style="float: right">Sign In</a>
        {{/isSignedIn}}
    </div>
    <div class="container">
        <h1>Glasgow Hospice Charity Shop</h1>
        <p>We are the Glasgow Hospice Charity.</p>
    </div>
</body>
</html>