<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <img src="images/logo.png" alt="Logo" class="logo">
            <div class="logo-text">Glasgow Hospice Charity</div>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/inStore" class="active">What's in store</a>
            <a href="/shops">Where you'll find us</a>
            {{#isVolunteer}}
            <a href="/inventory">Inventory</a>
            {{/isVolunteer}}
        </div>
        <div class="auth-links">
            {{#isSignedIn}}
                <a href="/profile">{{username}}</a>
                <a href="/logout">Logout</a>
                {{#isManager}}
                    <a href="/admin">Admin</a>
                {{/isManager}}
            {{/isSignedIn}}
            {{^isSignedIn}}
                <a href="/signIn">Sign In</a>
            {{/isSignedIn}}
        </div>
    </div>
    <div class="page-info">
    <h1>Window Shopping</h1>
    <p>Come have a browse at what we've got in all 4 of our shops</p>
    </div>
    <hr>
    <div class="page-container">
        <div class="items-grid">
            {{#items}}
                <div class="item-container">
                    <img src="/images/{{image}}" alt="{{name}}" style="width: 300px; height: 300px;">
                    <br>
                    <h4>{{name}}</h4>
                    <br>
                    <p><b>£{{price}}</b></p>
                    <br>
                    <p>{{shop}}</p>
                    <p class= "{{#soldOut}}sold-out{{/soldOut}}">
                        {{#soldOut}}SOLD OUT{{/soldOut}}
                    </p>
                </div>
            {{/items}}
            {{^items}}
                No items yet.
            {{/items}}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const itemContainers = document.querySelectorAll('.item-container');

        itemContainers.forEach(container => {
            container.addEventListener('click', function() {
                alert(`You clicked on ${this.querySelector('h4').innerText}`);
                // You can replace the alert with any action you want to perform on click
            });
        });
    });
    </script>
    </body>
</html>
