<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Items</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/inStore">What's in store</a>
        <a href="/shops">Where you'll find us</a>
        {{#isVolunteer}}
        <a href="/inventory">Inventory</a>
        {{/isVolunteer}}
        {{#isSignedIn}}
            <a href="/profile" style="float: right">{{username}}</a>
            <a href="/logout" style="float: right">Logout</a>
            {{#isManager}}
                <a href="/admin">Admin</a>
            {{/isManager}}
        {{/isSignedIn}}
        {{^isSignedIn}}
            <a href="/signIn" style="float: right">Sign In</a>
        {{/isSignedIn}}
    </div>
        <h1>{{title}}</h1>
        {{#items}}
            <div>
                <h4>{{name}}</h4>
                <p>
                    {{description}}
                </p>
                <p>
                    {{price}}
                </p>
            </div>
            <hr>
        {{/items}}
        {{^items}}
            No items yet.
        {{/items}}
    </body>
</html>