<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        {{#locations}}
        <li>{{location}} - {{address}} - {{postcode}} - {{phone}}</li>
        {{/locations}}
    </ul>
</body>
</html>