<h1>Shop page</h1>
<h2>All Shops</h2>
<ul>
    {{#shops}}
    <li>
        <h3>{{location}}</h3>
        <p>Address: {{address}}</p>
        <p>Postcode: {{postcode}}</p>
        <p>Phone: {{phone}}</p>
    </li>
    {{/shops}}
</ul>