<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <img src="images/logo.png" alt="Logo" class="logo">
            <div class="logo-text">Glasgow Hospice Charity</div>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/inStore" class="active">What's in store</a>
            <a href="/shops">Where you'll find us</a>
            {{#isVolunteer}}
            <a href="/inventory">Inventory</a>
            {{/isVolunteer}}
        </div>
        <div class="auth-links">
            {{#isSignedIn}}
                <a href="/profile">{{username}}</a>
                <a href="/logout">Logout</a>
                {{#isManager}}
                    <a href="/admin">Admin</a>
                {{/isManager}}
            {{/isSignedIn}}
            {{^isSignedIn}}
                <a href="/signIn">Sign In</a>
            {{/isSignedIn}}
        </div>
    </div>
    <div class="page-info">
        <h1>Our Locations</h1>
    </div>
    <hr>
        <ul>
            {{#shops}}
            <li>
                <h3>{{location}}</h3>
                <p>Address: {{address}}</p>
                <p>Postcode: {{postcode}}</p>
                <p>Phone: {{phone}}</p>
            </li>
            {{/shops}}
        </ul>
    </body>
</html>