<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Employees</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Admin Panel</h1>
                </div>
            </div>
        </div>
    </header>
    <section class="pt-4">
        <div class="container">
            <h1>All Employees</h1>
            <ul>
                {{#users}}
                <li>{{username}} - {{role}} - {{shop}}</li>
                {{/users}}
            </ul>
        </div>
    </section>
</body>
</html>